body {



    background: #5C258D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.container-fluid {
    height: 100%;
}

.scene {
    height: 97%;
    background-color: black;
}

.spacer {
    height:1%;
}

.sidebar {
    height: 97%;


background: #02AAB0; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #02AAB0 , #00CDAC); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #02AAB0 , #00CDAC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mpanel {
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.property-bin {
    position: relative;
    top: 2%;
    left: 5%;
    height: 83%;
    width: 90%;
}

.dropzone {
    position: relative;
    background-color: #00ACC1;
    height: 4%;
    width: 90%;
    left: 5%;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s ease 0s;
}

.dropzone:hover {


    background: #cb2d3e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cb2d3e , #ef473a);

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dz-message {
    color: white;
    font-weight: bold;
    position: relative;
    top: 23%;
    font-family: 'Roboto', sans-serif;
}

.dz-details {
    height: 0px;
    width: 0px;
}

.dz-progress {
    height: 0px;
    width: 0px;
}

.dz-image {
    height: 0px;
    width: 0px;
}

.dz-size {
    visibility: hidden;
}

.dz-error-message {
    height: 0px;
    width: 0px;
}

.dz-error-mark {
    height: 0px;
    width: 0px;
}

.dz-success-mark {
    height: 0px;
    width: 0px;
}

.dz-preview .dz-file-preview .dz-processing .dz-error .dz-complete {
    visibility: hidden;
}

svg {
    visibility: hidden;
}

.btn-odin {


background: #cb2d3e; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #cb2d3e , #ef473a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-odin:hover, .btn-odin:focus {


  background: #f85032 !important; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f85032 , #e73827) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f85032 , #e73827) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-odin.active {
  background-color: #0b51c5 !important;
}

i.btn-odin {


background: #cb2d3e !important; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a) !important; /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #cb2d3e , #ef473a) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
